.App {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

form {
  padding: 10px;
  margin-top: 40px;

  max-width: 500px;
  background-color: dimgray;
  color: white;
}
